# Environment variables - Do not commit secrets!
.env

# Python virtual environment
venv/
__pycache__/
*.pyc

# SQLite Database
database.db

# IDE / Editor specific
.vscode/
.idea/

# Tesseract OCR logs
tesseract.log